.paper {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

.paper .content {
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 20px;
}

.song {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.clickable {
    cursor: pointer;
}

.active:hover {
    animation: choosing 100ms forwards;
}

@keyframes choosing {
    0% {transform: scale(1)}
    100% {transform: scale(1.02)}
}

.list {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.85;
}

.cover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-left: 0;
}

.bg-image {
    background-image: url("../src/music/tanyasuffering/cover.jpg");
    width: 100%;
    height: 100%;
    filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
}

audio {
    width: 400px;
}

footer {
    height: 64px;
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    display: block;
    z-index: 100;
    bottom: 0;
}