.paper {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: #2e2c2d;
    margin-bottom: 4px;
    border-radius: 4px;
}

.paper .content {
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.clickable {
    cursor: pointer;
    color: dimgray;
}

.active:hover {
    animation: choosing 100ms forwards;
}

@keyframes choosing {
    0% {transform: scale(1)}
    100% {transform: scale(1.02)}
}

.list {
    background-color: #f2f2f2;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.85;
}

.cover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
}

.container .component {
    vertical-align: top;
    display: inline-block;
    left: 0;
    top: 0;
}

body {
    font-family: Arial, monospace;
    margin-top: 0;
    margin-left: 0;
}

.bg-image {
    background-color: #f8f8f8;
    background-image: url("../src/music/tanyasuffering/cover.jpg");
    opacity: 0.8;
    width: 80%;
    height: 100%;
    filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 600px;
    top: 0;
    z-index: -100;
}

audio {
    width: 400px;
}

header {
    height: 64px;
    width: 600px;
    background-color: white;
    position: fixed;
    display: block;
    z-index: 100;
}

footer {
    height: 64px;
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    display: block;
    z-index: 100;
    bottom: 0;
}