#schedule {
    width: 100%;
    padding-top: 64px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-left: 0;
    background-color: lightyellow;
}

table {
    border-collapse: collapse;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    background: #fff8eb;
    border: 1px solid black;
    padding: 0.5rem;
}

th {
    background: white;
    border: 1px solid black;
    padding: 0.5rem;
}

.lecture-name {
    width: 400px;
}

.lecture-lesson {
    background: #FCBF49;
}

.practical-lesson {
    background: #F77F00;
}
