#schedule {
    width: 100%;
    padding-top: 64px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-left: 0;
    background-image: url(../src/wallhaven1.jpg);
    background-repeat: no-repeat;
    background-blend-mode:overlay;
}

table {
    border-collapse: collapse;
    display: block;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px black;
}

td {
    background: #fff8eb;
    border: 1px solid black;
    padding: 0.5rem;
}

th {
    background: white;
    border: 1px solid black;
    padding: 0.5rem;
}

.lecture-name {
    width: 400px;
}

.lecture-lesson {
    background: #FCBF49;
}

.practical-lesson {
    background: #F77F00;
}
