a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    text-align: center;
}

.glossary {
    color: whitesmoke;
}

.term-section {
    display: block;
    padding: 16px 0 16px 0;
    text-align: left;
}

.history {
    padding: 8px 0 8px 0;
    color: #3F3F3F
}

.quote {
    font-family: "Lucida Console", "monospace";
    text-align: right;
    color: goldenrod;
}

.centered {    
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small {
    width: 300px;
}